.LoginCtrl {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    text-align: right;
    padding-right: 2px;
}

.LoginYes,
.LoginNo {
    display: none;
}

.LoginWait {
    display: block;
}
